<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/system.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/swiper-3.4.0.jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagination.js"></script>
    <!-- <script type="text/javascript" src="js/respond.js"></script> -->
	<title>鸽子我的购买</title>
</head>
<body>
<!-- header/start -->
	<div class="header">
		<div class="headerTop">
			<div class="highest">
				<div class="fl connection">
					<i class="iconfont tel">&#xe651;</i><span class="conLink1">010-89256988</span><i class="iconfont">&#xe731;</i><span>010-89256988</span>
				</div>
				<div class="fr topnav">
					<a href="javascript:;">交易流程</a>|
					<a href="javascript:;">收藏本站</a>|
					<a href="javascript:;">帮助中心</a>
				</div>
			</div>
		</div>
		<h1 class="logo"><a href="javascript:;"><img src="img/logo.png" alt="长城鸽业"></a></h1>
		<div class="higher"></div>
		<div class="nav">
            <div class="navbar">
                <div class="swiper-container" id="nav">
                    <ul class="navlist swiper-wrapper">
                        <li class="swiper-slide"><a href="javascript:;">首页</a></li>
                        <li class="swiper-slide"><a href="javascript:;">在线拍卖</a></li>
                        <li class="swiper-slide"><a href="javascript:;">定价展销</a></li>
                        <li class="swiper-slide"><a href="javascript:;">长城铭哥</a></li>
                        <li class="swiper-slide"><a href="javascript:;">赛鸽资讯</a></li>
                        <li class="swiper-slide"><a href="javascript:;">鸽友之家</a></li>
                    </ul>
                </div>
                <div class="section user">
                    <div class="logReg">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!-- header/end -->
	<div class="content section clearfix">
		<!-- public usercenter ／ start -->
		<div class="fl userCenter">
			<h2 class="userTitle">个人中心</h2>
			<ul class="userList">
				<li><a href="upload.html"><i class="iconfont">&#xe6e1;</i>用户信息</a></li>
                <li><a href="mybid.html"><i class="iconfont">&#xe606;</i>我的竞拍</a></li>
                <li class="current"><a href="mybuy.html"><i class="iconfont">&#xe64e;</i>我的购买</a></li>
                <li><a href="system.html"><i class="iconfont">&#xe619;</i>消息中心</a></li>
			</ul>
		</div>
		<!-- public usercenter ／ end -->
		<div class="fr mybid">
			<div class="swiper-container mb" id="table1">
                <div class="swiper-wrapper table">
                    <div class="swiper-slide">
                        <div class="buyTitle">未付款</div>
                        <div class="bidList">
                            <ul class="bidUl">
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<a href="javascript:;" class="nopay">立即购买</a>
                                    	<span class="payInfo">已加入购物车</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<a href="javascript:;" class="nopay upCer">上传付款凭证</a>
                                    	<span class="payInfo">已购买，未上传付款凭证</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-container mb" id="table2">
                <div class="swiper-wrapper table">
                    <div class="swiper-slide">
                        <div class="buyTitle">确认付款</div>
                        <div class="bidList">
                            <ul class="bidUl">
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<span class="paying">确认付款中…</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<span class="paying">确认付款中…</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-container mb" id="table3">
                <div class="swiper-wrapper table">
                    <div class="swiper-slide">
                        <div class="buyTitle">已付款</div>
                        <div class="bidList">
                            <ul class="bidUl">
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<a href="javascript:;" class="nopay payed">已付款</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<a href="javascript:;" class="nopay payed">已付款</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-container" id="table4">
                <div class="swiper-wrapper table">
                    <div class="swiper-slide">
                        <div class="buyTitle">已发货</div>
                        <div class="bidList">
                            <ul class="bidUl">
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<a href="javascript:;" class="nopay sure">确认收货</a>
                                    	<span class="payInfo had">已发货</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                    	<span class="s1"><strong>亚军枭雄</strong></span>
                                    	<span class="s2"><em>北京李记种赛鸽中心</em></span>
                                    	<span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                    	<div class="cost fl">
                                    		<span class="s4">原价：<s>10000</s>元</span>
                                    		<strong>优惠价：<span class="red">8000</span>元</strong>
                                    	</div>	
                                    </a>
                                    <div class="payfor fl">
                                    	<a href="javascript:;" class="nopay sure">确认收货</a>
                                    	<span class="payInfo had">已发货</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;" class="bidImg"><img src="img/zhanwei.png" /></a>
                                    <a href="javascript:;" class="information fl">
                                        <span class="s1"><strong>亚军枭雄</strong></span>
                                        <span class="s2"><em>北京李记种赛鸽中心</em></span>
                                        <span class="red s3"><i class="iconfont">&#xe63b;</i>人气：365</span>
                                        <div class="cost fl">
                                            <span class="s4">原价：<s>10000</s>元</span>
                                            <strong>优惠价：<span class="red">8000</span>元</strong>
                                        </div>  
                                    </a>
                                    <div class="payfor fl">
                                        <a href="javascript:;" class="nopay payed">已收货</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="gray">
        <div class="section footer">
            <div class="fl gLogo"><img src="img/g_logo.png" height="68" width="171" /></div>
            <div class="fl companyInfo">
                <span class="fleft"><i class="iconfont">&#xe6e1;</i><b>联系人：</b>邵先生</span>
                <span class="fright"><i class="iconfont">&#xe608;</i><b>Email：</b>greatwallccgy@126.com</span>
                <span class="fleft"><i class="iconfont">&#xe651;</i><b>电话：</b>010-89256988&nbsp;&nbsp;13611691900</span>
                <span class="fright"><i class="iconfont">&#xe6b8;</i><b>网址：</b>http://ccgy.ag188.com</span>
                <span class="fleft"><i class="iconfont">&#xe731;</i><b>传真：</b>010-89256988</span>
                <span class="fright"><i class="iconfont">&#xe652;</i><b>地址：</b>北京市大兴区庞各庄镇常各庄村南1000米 邮政编码：100041</span>
            </div>
        </div>
        <div class="lowest">
            <p class="character">www.chinaxinge.com<span>&nbsp;中国信鸽信息网&nbsp;爱鸽商城铭鸽展厅</span></p>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
	$(function(){
        $("#Pagination").pagination("15");
        $('#nav li').click(function(event) {
            var ind = $(this).index();
            var win = $(window).width();
            var move = ind * 125;
            var minus = 750 - win;
            if(move > minus){
                move = minus;
            }
            $(this).addClass('cur').siblings().removeClass('cur');
            $('#nav ul').css('transform', 'translate3d(-'+move+'px, 0px, 0px)');
        });
        var lunboSwiper = new Swiper('.aside .swiper-container',{
			pagination: '.swiper-pagination',
		    loop:true,
		    autoplay : 2000,
		    grabCursor: true,
		    paginationClickable: true
		})
        var navSwiper = new Swiper('.nav .swiper-container',{
            slidesPerView: 'auto',
            freeMode: true
        })
        var buySwiper1 = new Swiper('#table1',{
            slidesPerView: 'auto',
            freeMode: true
        })
        var buySwiper2 = new Swiper('#table2',{
            slidesPerView: 'auto',
            freeMode: true
        })
        var buySwiper3 = new Swiper('#table3',{
            slidesPerView: 'auto',
            freeMode: true
        })
        var buySwiper4 = new Swiper('#table4',{
            slidesPerView: 'auto',
            freeMode: true
        })
    })
</script>