<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/priceinfo.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/swiper-3.4.0.jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagination.js"></script>
    <title>鸽子长城铭鸽</title>
</head>
<body>
<!-- header/start -->
    <div class="header">
        <div class="headerTop">
            <div class="highest">
                <div class="fl connection">
                    <i class="iconfont tel">&#xe651;</i><span class="conLink1">010-89256988</span><i class="iconfont">&#xe731;</i><span>010-89256988</span>
                </div>
                <div class="fr topnav">
                    <a href="javascript:;">交易流程</a>|
                    <a href="javascript:;">收藏本站</a>|
                    <a href="javascript:;">帮助中心</a>
                </div>
            </div>
        </div>
        <h1 class="logo"><a href="javascript:;"><img src="img/logo.png" alt="长城鸽业"></a></h1>
        <div class="higher"></div>
        <div class="nav">
            <div class="navbar">
                <div class="swiper-container" id="nav">
                    <ul class="navlist swiper-wrapper">
                        <li class="swiper-slide"><a href="javascript:;">首页</a></li>
                        <li class="swiper-slide"><a href="javascript:;">在线拍卖</a></li>
                        <li class="swiper-slide"><a href="javascript:;">定价展销</a></li>
                        <li class="cur swiper-slide"><a href="javascript:;">长城铭哥</a></li>
                        <li class="swiper-slide"><a href="javascript:;">赛鸽资讯</a></li>
                        <li class="swiper-slide"><a href="javascript:;">鸽友之家</a></li>
                    </ul>
                </div>
                <div class="section user">
                    <div class="logReg">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- header/end -->
    <div class="section clearfix">
        <div class="fr product">
            <div class="line"></div>
            <h2 class="proTitle"><span>特价两周&nbsp;&nbsp;无敌小花花</span></h2>
            <div class="proImg">
                <img src="img/zhanwei2.png" />
                <img src="img/desktop.jpg" />
            </div>
            <div class="feature">
                <h3 class="h20">信鸽特征</h3>
                <dl class="featureCon">
                    <dt><b>编<em>号</em>：</b>429191</dt>
                    <dd><b>环<em>号</em>：</b>B11-6167246</dd>
                    <dt><b>鸽<em>名</em>：</b>利奥.贺尔曼斯盖兰托斯直子X欧元直女</dt>
                    <dd><b>性<em>别</em>：</b>雌</dd>
                    <dt><b>羽<em>色</em>：</b>雨点</dt>
                    <dd><b>目<em>录</em>：</b>利奥.赫尔曼斯 原舍种鸽</dd>
                    <dt><b>眼<em>砂</em>：</b>砂眼</dt>
                    <dd><b>人<em>气</em>：</b><strong class="red f20">858</strong>次</dd>
                    <dt><b>数<em>量</em>：</b><strong class="green f20">1</strong></dt>
                    <dd><b>血<em>统</em>：</b>利奥.贺尔曼斯</dd>
                </dl>
            </div>
            <div class="introduce">
                <h3 class="h20">详细介绍</h3>
                <div class="introduceCon">
                    <p>B11-6167246  雌</p>
                    <p>“欧元外孙女”</p>
                    <p>“盖兰托斯直子X欧元直女”</p>
                    <p>利奥.贺尔曼斯（Heremans Leo）原舍</p>
                    <p>“奥林匹克雀鹰（奥林匹克鸽）半兄弟”直女</p>
                    <p>“新奥林匹克之父半兄弟”直女</p>
                    <p>“雅拉克妮半姐妹”直女</p>
                    <p>“盖兰托斯X哈奇斯冠军”直孙女</p>
                    <p>“好赛鸽雌（斯宾克号之母）半姐妹”直孙女</p>
                    <p>“女骑士”（444号半姐妹）外孙女</p>
                    <p>“艾玛文先生X梦想女郎”曾孙女</p>
                    <p>“古斯特.詹森鸽王全兄弟”曾孙女</p>
                    <p>“神奇鸽后半姐妹”曾外孙女</p>
                    <p>“克里斯雌之父全姐妹”曾外孙女</p>
                    <p>“高贵灰X柳芭”玄孙女</p>
                    <p>“小迪克X爱神”玄孙女</p>
                    <p>“超级799 X 700雌”玄外孙女</p>
                    <p>“最爱号X黄金雌”玄外孙女</p>
                </div>
            </div>
            <div class="other">
                <h3 class="h20">其他推荐</h3>
                <div class="otherCon">
                    <ul class="bedoveList">
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="recImg">
                                <span class="pink"><img src="img/zhanwei.png" height="134" width="200" /></span>
                                <p class="recName" href="javascript:;">亚军枭雄</p>
                                <p class="recOrigin">博翔阁</p>
                                <p class="recHot">人气：1280</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fl tabBar">
            <div class="tabBtn">
                <a href="javascript:;" class="current">最新上架</a>
                <a href="javascript:;">总排行</a>
            </div>
            <div class="tabCon">
                <div class="tabCon2">
                    <div class="seniority">
                        <ul>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe607;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="seniority">
                        <ul>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe607;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="senName">宏金公棚三关鸽王</span><span class="heat"><strong class="red">157575</strong><i class="iconfont">&#xe772;</i></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- onsale / end -->

    <div class="gray botLine">
        <div class="section footer">
            <div class="fl gLogo"><img src="img/g_logo.png" height="68" width="171" /></div>
            <div class="fl companyInfo">
                <span class="fleft"><i class="iconfont">&#xe6e1;</i><b>联系人：</b>邵先生</span>
                <span class="fright"><i class="iconfont">&#xe608;</i><b>Email：</b>greatwallccgy@126.com</span>
                <span class="fleft"><i class="iconfont">&#xe651;</i><b>电话：</b>010-89256988&nbsp;&nbsp;13611691900</span>
                <span class="fright"><i class="iconfont">&#xe6b8;</i><b>网址：</b>http://ccgy.ag188.com</span>
                <span class="fleft"><i class="iconfont">&#xe731;</i><b>传真：</b>010-89256988</span>
                <span class="fright"><i class="iconfont">&#xe652;</i><b>地址：</b>北京市大兴区庞各庄镇常各庄村南1000米 邮政编码：100041</span>
            </div>
        </div>
        <div class="lowest">
            <p class="character">www.chinaxinge.com<span>&nbsp;中国信鸽信息网&nbsp;爱鸽商城铭鸽展厅</span></p>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    $(function(){
        $('#nav li').click(function(event) {
            var ind = $(this).index();
            var win = $(window).width();
            var move = ind * 125;
            var minus = 750 - win;
            if(move > minus){
                move = minus;
            }
            $(this).addClass('cur').siblings().removeClass('cur');
            $('#nav ul').css('transform', 'translate3d(-'+move+'px, 0px, 0px)');
        });
        $("#Pagination").pagination("15");

        $('.tabBtn a').click(function() {
            $(this).addClass('current').siblings().removeClass('current');
            var move = $(this).index()*100;
            $('.tabCon2').animate({'left': -move +'%'}, 300);
        });
        var lunboSwiper = new Swiper('.aside .swiper-container',{
            pagination: '.swiper-pagination',
            loop:true,
            autoplay : 2000,
            grabCursor: true,
            paginationClickable: true
        })
        var navSwiper = new Swiper('.nav .swiper-container',{
            slidesPerView: 'auto',
            freeMode: true
        })

    })
</script>
