<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/news.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/swiper-3.4.0.jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagination.js"></script>
    <title>鸽子新闻中心</title>
</head>
<body>
<!-- header/start -->
    <div class="header">
        <div class="headerTop">
            <div class="highest">
                <div class="fl connection">
                    <i class="iconfont tel">&#xe651;</i><span class="conLink1">010-89256988</span><i class="iconfont">&#xe731;</i><span>010-89256988</span>
                </div>
                <div class="fr topnav">
                    <a href="javascript:;">交易流程</a>|
                    <a href="javascript:;">收藏本站</a>|
                    <a href="javascript:;">帮助中心</a>
                </div>
            </div>
        </div>
        <h1 class="logo"><a href="javascript:;"><img src="img/logo.png" alt="长城鸽业"></a></h1>
        <div class="higher"></div>
        <div class="nav">
            <div class="navbar">
                <div class="swiper-container" id="nav">
                    <ul class="navlist swiper-wrapper">
                        <li class="swiper-slide"><a href="javascript:;">首页</a></li>
                        <li class="swiper-slide"><a href="javascript:;">在线拍卖</a></li>
                        <li class="swiper-slide"><a href="javascript:;">定价展销</a></li>
                        <li class="swiper-slide"><a href="javascript:;">长城铭哥</a></li>
                        <li class="cur swiper-slide"><a href="javascript:;">赛鸽资讯</a></li>
                        <li class="swiper-slide"><a href="javascript:;">鸽友之家</a></li>
                    </ul>
                </div>
                <div class="section user">
                    <div class="logReg">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header/end -->
    <div class="internews section clearfix">
        <div class="fl newsCenter">
            <div class="bigTitle"><span>新闻中心</span></div>
            <div class="listNews">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <span class="newsImg fl"><img src="img/zhanwei.png" /></span>
                            <div class="newsCon fl">
                                <h3>鸽子崖：一户人家的坚守</h3>
                                <span class="publishTime">发表于：2016-7-1 10:03</span>
                                <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进新常态下信用风险化解，有效遏制不良上升势头。据温 ...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="newsImg fl"><img src="img/zhanwei.png" /></span>
                            <div class="newsCon fl">
                                <h3>鸽子崖：一户人家的坚守</h3>
                                <span class="publishTime">发表于：2016-7-1 10:03</span>
                                <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进新常态下信用风险化解，有效遏制不良上升势头。据温 ...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="newsImg fl"><img src="img/zhanwei.png" /></span>
                            <div class="newsCon fl">
                                <h3>鸽子崖：一户人家的坚守</h3>
                                <span class="publishTime">发表于：2016-7-1 10:03</span>
                                <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进新常态下信用风险化解，有效遏制不良上升势头。据温 ...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="newsImg fl"><img src="img/zhanwei.png" /></span>
                            <div class="newsCon fl">
                                <h3>鸽子崖：一户人家的坚守</h3>
                                <span class="publishTime">发表于：2016-7-1 10:03</span>
                                <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进新常态下信用风险化解，有效遏制不良上升势头。据温 ...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="newsImg fl"><img src="img/zhanwei.png" /></span>
                            <div class="newsCon fl">
                                <h3>鸽子崖：一户人家的坚守</h3>
                                <span class="publishTime">发表于：2016-7-1 10:03</span>
                                <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进新常态下信用风险化解，有效遏制不良上升势头。据温 ...</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="newsImg fl"><img src="img/zhanwei.png" /></span>
                            <div class="newsCon fl">
                                <h3>鸽子崖：一户人家的坚守</h3>
                                <span class="publishTime">发表于：2016-7-1 10:03</span>
                                <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷款迅猛攀升的状况，通过“细、强、优、深、净”五化促进新常态下信用风险化解，有效遏制不良上升势头。据温 ...</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="pages">
                    <div class="oh"><div id="Pagination"></div><span class="page-sum">共<strong class="allPage">15</strong>页</span></div>
                </div>
            </div>
        </div>
        <div class="fr about">
            <div class="headline">
                <h2>鸽子新闻</h2>
                <span>THE DOVE NEWS</span>
            </div>
            <div class="press">
                <a href="javascript:;" class="picNews">
                    <span class="littleImg fl"><img src="img/zhanwei.png" /></span>
                    <div class="fl littleNews">
                        <h3>鸽子崖：一户人家的坚守</h3>
                        <p class="summary">近两年来，温州面对2011年9月份以来受宏观经济环境和民间借贷风波影响，银行业不良贷</p>
                    </div>
                </a>
                <ul class="titleList">
                    <li><a href="javascript:;">甘肃省成立丝绸之路大数据公司，三 ...</a></li>
                    <li><a href="javascript:;">甘肃省成立丝绸之路大数据公司，三 ...</a></li>
                    <li><a href="javascript:;">甘肃省成立丝绸之路大数据公司，三 ...</a></li>
                    <li><a href="javascript:;">甘肃省成立丝绸之路大数据公司，三 ...</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- onsale / end -->
    <!-- footer / start -->
    <div class="gray botLine">
        <div class="section footer">
            <div class="fl gLogo"><img src="img/g_logo.png" height="68" width="171" /></div>
            <div class="fl companyInfo">
                <span class="fleft"><i class="iconfont">&#xe6e1;</i><b>联系人：</b>邵先生</span>
                <span class="fright"><i class="iconfont">&#xe608;</i><b>Email：</b>greatwallccgy@126.com</span>
                <span class="fleft"><i class="iconfont">&#xe651;</i><b>电话：</b>010-89256988&nbsp;&nbsp;13611691900</span>
                <span class="fright"><i class="iconfont">&#xe6b8;</i><b>网址：</b>http://ccgy.ag188.com</span>
                <span class="fleft"><i class="iconfont">&#xe731;</i><b>传真：</b>010-89256988</span>
                <span class="fright"><i class="iconfont">&#xe652;</i><b>地址：</b>北京市大兴区庞各庄镇常各庄村南1000米 邮政编码：100041</span>
            </div>
        </div>
        <div class="lowest">
            <p class="character">www.chinaxinge.com<span>&nbsp;中国信鸽信息网&nbsp;爱鸽商城铭鸽展厅</span></p>
        </div>
    </div>
    <!-- footer / end -->
</body>
</html>
<script type="text/javascript">
    $(function(){
        $("#Pagination").pagination("15");
        $('#nav li').click(function(event) {
            var ind = $(this).index();
            var win = $(window).width();
            var move = ind * 125;
            var minus = 750 - win;
            if(move > minus){
                move = minus;
            }
            $(this).addClass('cur').siblings().removeClass('cur');
            $('#nav ul').css('transform', 'translate3d(-'+move+'px, 0px, 0px)');
        });

        var lunboSwiper = new Swiper('.aside .swiper-container',{
            pagination: '.swiper-pagination',
            loop:true,
            autoplay : 2000,
            grabCursor: true,
            paginationClickable: true
        })
        var navSwiper = new Swiper('.nav .swiper-container',{
            slidesPerView: 'auto',
            freeMode: true
        })


    })
</script>
